node_modules
.local/
.turbo
dist
.next
.env
.env.local
supabase/.temp
supabase/.branches
packages/shared/src/supabase.types.ts
.env.*.local
*.log
coverage
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.tsbuildinfo
apps/api/dist
packages/database/prisma/migrations/**/migration_lock.toml
.vercel
.env*.local
